[submodule "atomare-materialmodellierung/ewald-sum"]
	path = atomare-materialmodellierung/ewald-sum-notebooks
	url = https://collaborating.tuhh.de/cla0253/ewald-sum.git
[submodule "MLE-School"]
	path = MLE-School
	url = https://github.com/BenBol/MLE-School.git
